  .wavy.edge {
    background-image: none;
    margin-bottom: -8px;
  }
  
  .top.wavy.edge {
    margin-top: 1em;
  }
  
  .bottom.wavy.edge {
    height: 20px
  }

  .declaration.include {
    padding: 14px 16px;
  }